@{
    ViewData["Title"] = "Home Page";
}

<div class="container-sm p-3 align-content-center" style="max-width: 1000px;">
    <h1 class="text-center mb-5 fw-bold">Expense tracker 666</h1>
    <h5 class="fw-bold">Manage your expenses with cool app</h5>
    <p>Here you can:</p>
    <ul>
        <li>
            Create an account
        </li>
        <li>
            Add, modify and delete expenses
        </li>
        <li>See cool graphs about your spending on various items

        </li>

    </ul>
    <p>Created with ASP .NET CORE with MongoDB database, held together with bubblegum.</p>
</div>