@model List<ExpenseViewModel>

<h5>All purchases</h5>
<table class="table">
    <tr>
        <th>Amount</th>
        <th>Date</th>
        <th>Description</th>
        <th>Category</th>
         <th></th>
         <th></th>
    </tr>
    
    @foreach (var x in Model)
    {
        <tr>
        <th>@x.Amount €</th>
        <th>@x.ExpenseDate.ToShortDateString()</th>
        <th>@x.Description</th>
        <th>@x.CategoryName</th>
            <th><a href="expense/edit?id=@x.ExpenseId" class="btn btn-dark">Edit</a> </th>
            <th><a href="expense/delete?id=@x.ExpenseId" class="btn btn-dark">Delete</a></th>


        </tr>
    }


</table>