@model List<ExpenseViewModel>

<table class="table">
    <tr>
        <th>Amount</th>
        <th>Date</th>
        <th>Description</th>
    </tr>
    
    @foreach (var x in Model)
    {
<tr>
        <th>@x.Amount €</th>
        <th>@x.ExpenseDate.ToShortDateString()</th>
        <th>@x.Description</th>
        </tr>
    }


</table>